* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    color: gray;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Lora", serif;
    font-weight: 600;
    color: black;
}
p {
    margin-bottom: 1.5rem;
}
h1 {
    font-size: 2.875rem;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
h3 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

header {
    border-bottom: 1px solid #ddd;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.container {
    width: 1290px;
    margin: 0 auto;
}
.container.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    text-decoration: none;
    font: 1.875rem "Lora",serif;
    font-weight: 600;
    color: black;
}

ul.navlist {
    list-style: none;
    display: flex;
    gap: 24px;
}
.navlist li {
    display: inline;
}
.navlink {
    text-decoration: none;
    color: gray;
}

.top-wrap {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}
.top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.btn {
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
}
.button-1 {
    display: flex;
    align-items: center;
    background: black;
    color: white;
}
.button-2 {
    border: 1px solid gray;
    color: black;
}
.material-symbols-outlined {
    margin-left: 10px;
}
.tiger-pic {
    width: 100%;
    border-radius: 5px;
}

.about-wrap {
    background: #f4f4f4;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.achievements {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
}
.achievements li {
    padding: 30px;
    background: white;
    border-radius: 5px;
}
.achievements li img {
    margin-bottom: 1.5rem;
}
.achievements li p {
    margin-bottom: 0;
    font-size: .875rem;
}